<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--97.74.80.20-->
    <add name="conAP" connectionString="Server=97.74.80.20;uid=arcidply25dbus;pwd=bzj?U0566;database=archidadm25_db;" providerName="System.Data.SqlClient"/>
	  <!--<add name="conAP" connectionString="Server=103.177.225.18;uid=Webnx_Archidplyid;pwd=45B3o8x!r;database=Webnx_Archidplydb;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="ScriptResource" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler" preCondition="integratedMode"/>
      <add name="WebResource" path="WebResource.axd" verb="GET,HEAD" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode"/>
    </handlers>
    <httpProtocol>
      <!--<customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNetMvc-Version"/>
        <remove name="x-powered-by-plesk "/>
        <add name="Strict-Transport-Security" value="max-age=31536000"/>
        <add name="Content-Security-Policy" value="X-Frame-Options: SAMEORIGIN"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <add name="Referrer-Policy" value="strict-origin"/>
        <add name="X-Permitted-Cross-Domain-Policies" value="none"/>
        <add name="Permissions-Policy" value="fullscreen=()"/>
      </customHeaders>-->
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true" allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="524288000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/404"/>
    </customErrors>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.8"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" maxRequestLength="512000" executionTimeout="3600"/>
    <machineKey validation="SHA1" decryption="AES" validationKey="1AD4952DC74F01A5E92B3E43A2FE87990D7D717A" decryptionKey="A05A1182F78A5299C2F9ABA29D64CB21835E41BFAAD4AFCC21ED23D1495E999C"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="from" value="archiddecorhosting@gmail.com"/>
    <add key="fromName" value="ARCHIDPLY DECOR"/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="userName" value="archiddecorhosting@gmail.com"/>
    <add key="password" value="mcrojdwpooipihyb"/>
    <add key="enableSsl" value="true"/>
    <add key="ToMail" value="adltrading@archidply.com"/>
    <add key="CCMail" value=""/>
    <add key="BCCMail" value=""/>
    <!--other settings -->
    <add key="domain" value="https://archidplydecor.com/"/>
    <add key="razorid" value="rzp_live_RFH99ujmTl73TH"/>
    <add key="razorsecret" value="kh92JCJrvB0YYejRhTnQfQGT"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>